[submodule "Projects/IOS-Calculator"]
	path = Projects/IOS-Calculator
	url = https://github.com/amiguelmoreno/IOS-Calculator
[submodule "Projects/Magic-Home"]
	path = Projects/Magic-Home
	url = https://github.com/amiguelmoreno/MagicHome
[submodule "Projects/Simon-Game"]
	path = Projects/Simon-Game
	url = https://github.com/amiguelmoreno/Simon-Game
[submodule "Projects/Projects/Password-Generato"]
	path = Projects/Projects/Password-Generato
	url = https://github.com/amiguelmoreno/Password-Generator
[submodule "Projects/Password-Generator"]
	path = Projects/Password-Generator
	url = https://github.com/amiguelmoreno/Password-Generator
