body {
  display: flex;
  flex-direction: column;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.movie-container {
  width: 300px; /* Ancho fijo */
  /* o */
  /* width: 25%; */ /* Ancho relativo si quieres que ocupen un porcentaje del contenedor padre */
  box-sizing: border-box; /* Asegura que padding y border se incluyan en el ancho total */
  margin: 10px; /* Espaciado entre contenedores */
  padding: 10px;
  border: 1px solid #ccc; /* Borde para visualizar mejor */
  overflow: hidden; /* Asegura que el contenido extra no desborde */
}

.title {
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que se desborda fuera del contenedor */
  text-overflow: ellipsis; /* Añade "..." al final del texto que se corta */
  display: block; /* Asegura que el elemento ocupe todo el ancho disponible */
  max-width: 100%; /* Opcional: asegura que el título no exceda el ancho del contenedor */
}
