$color-primary: #7ed56f;
$color-primary-light: #72f29c;
$color-primary-dark: #28b485;

$color-secondary-light: #fec320;
$color-secondary-dark: #ff7730;

$color-terciary-light: #66b5ff;
$color-terciary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;

// FONT SIZES
$default-font-size: 1.6rem;
