@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow Condensed", sans-serif;
}
body .container {
  width: 100vw;
  min-height: 100vh;
  padding-top: 4.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(134.34% 134.34% at 50% 0%, #1f3757 0%, #131537);
}
body .container .scoreboard {
  padding: 1rem;
  margin-bottom: 7rem;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  border-radius: 1rem;
}
body .container .scoreboard .title img {
  width: 100%;
}
body .container .scoreboard .score {
  background-color: white;
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
  text-align: center;
}
body .container .scoreboard .score-title {
  font-size: 3.2rem;
}
body .container .scoreboard .score-value {
  font-size: 5.6rem;
}
body .container .hands {
  width: 50rem;
  height: 38rem;
  margin-left: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  background-image: url(../assets/triangle.png);
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s;
}
body .container .hands > div {
  cursor: pointer;
  transition: transform 0.5s;
}
body .container .hands > div img {
  width: 80%;
}
body .container .hands > div:hover {
  transform: scale(1.1);
}
body .container .hands > div:active {
  transform: scale(1.05);
}
body .container .contest {
  display: none;
  align-items: center;
  -moz-column-gap: 8rem;
       column-gap: 8rem;
}
body .container .contest .user-pick {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
body .container .contest .user-pick h2 {
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
}
body .container .contest .result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .container .contest .result-title {
  font-size: 4.4rem;
  color: white;
  letter-spacing: 1px;
}
body .container .contest .result .btn {
  width: 12rem;
  padding: 1.2rem;
  font-weight: 600;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  transition: transform 0.5s;
}
body .container .contest .result .btn:hover {
  transform: scale(1.1);
}
body .container .contest .result .btn:active {
  transform: scale(1.05);
}
body .container .contest .result .new-game {
  margin-top: 4.4rem;
  margin-bottom: 1.2rem;
}
body .container .contest .result .reset-game {
  background-color: rgb(188, 19, 19);
  color: white;
}

@media (max-width: 57em) {
  html {
    font-size: 56.25%;
  }
  body .container .scoreboard {
    padding: 1rem;
    margin-bottom: 6rem;
    width: 90%;
  }
  body .container .scoreboard .title img {
    width: 70%;
  }
  body .container .scoreboard .score-title {
    font-size: 2.4rem;
  }
  body .container .scoreboard .score-value {
    font-size: 4.4rem;
  }
  body .container .hands {
    display: flex;
    width: 38rem;
    height: 37rem;
    margin-left: 0rem;
  }
  body .container .hands > div img {
    width: 15rem;
  }
  body .container .contest {
    display: none;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 7rem;
         column-gap: 7rem;
  }
  body .container .contest .user-pick {
    flex-direction: column;
  }
  body .container .contest .user-pick h2 {
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
  }
  body .container .contest .user-pick-img img {
    width: 15rem;
  }
  body .container .contest .result {
    order: 3;
    grid-column: span 2;
    margin-top: 5rem;
  }
  body .container .contest .result-title {
    font-size: 3.8rem;
  }
  body .container .contest .result .btn {
    width: 20rem;
  }
}/*# sourceMappingURL=style.css.map */