@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 4rem;
  align-self: start;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

.new-task-section {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.new-task-section .new-task-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 1rem;
  font-size: 2.5rem;
  padding: 1rem 6rem;
  border: none;
  color: white;
  background-color: rgb(136, 136, 136);
  border-radius: 100px;
  transition: all 0.2s;
}
.new-task-section .new-task-btn a .plus-sign {
  font-size: 2.7rem;
  font-weight: 500;
}
.new-task-section .new-task-btn:hover {
  transform: scale(1.1);
}
.new-task-section .new-task-btn:active {
  transform: scale(1);
}

.filters-section {
  padding: 0 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 4rem;
  gap: 1.5rem;
}
.filters-section .filter-name {
  font-weight: 500;
  font-size: 1.7rem;
}
.filters-section select {
  border: none;
  padding: 0.3rem 2rem;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 100px;
  background-color: rgb(136, 136, 136);
}

.tasks-section {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
  padding: 0 4rem;
  width: 100%;
  max-width: 140rem;
}
.tasks-section .tasks-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  color: white;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  flex: 1;
  background-color: red;
  transition: all 0.5s;
}
.tasks-section .tasks-container h2 {
  margin-bottom: 3rem;
}
.tasks-section .tasks-container .tasks-count {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem 2rem;
  font-weight: 400;
  font-size: 2.5rem;
}
.tasks-section .tasks-container .new-task {
  border: none;
  font-size: inherit;
  width: 100%;
  font-weight: inherit;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.595);
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: all 0.2s;
}
.tasks-section .tasks-container .new-task:hover {
  transform: scale(1.01);
}
.tasks-section .tasks-container .new-task:active {
  transform: scale(1);
}
.tasks-section .tasks-container .tasks {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  padding: 1rem;
  min-height: 10rem;
}
.tasks-section .tasks-container .tasks .task {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.595);
  color: black;
  display: grid;
  row-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  cursor: grab;
}
.tasks-section .tasks-container .tasks .task:active {
  cursor: grabbing;
}
.tasks-section .tasks-container .tasks .task_title {
  padding: 0.4rem;
  grid-column: span 2;
}
.tasks-section .tasks-container .tasks .task_check {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
}
.tasks-section .tasks-container .tasks .task_check input {
  transform: scale(2);
}
.tasks-section .tasks-container .tasks .task .status {
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
}
.tasks-section .tasks-container .tasks .task .status > * {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.764);
  padding: 0.5rem;
  border-radius: 5px;
}
.tasks-section .pending {
  background-color: rgb(224, 144, 94);
}
.tasks-section .doing {
  background-color: rgb(99, 190, 239);
}
.tasks-section .done {
  background-color: rgb(131, 232, 124);
}

.task-modal {
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(173, 173, 173, 0.623);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-modal .task-form {
  background-color: white;
  width: 50%;
  padding: 3rem;
  border-radius: 10px;
}
.task-modal .task-form form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.task-modal .task-form form #new-task-title {
  font-size: 2.5rem;
  border: none;
  font-weight: 600;
  padding: 0.5rem;
}
.task-modal .task-form form #new-task-description {
  border: 1px solid rgba(128, 128, 128, 0.567);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.task-modal .task-form form .selectors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.task-modal .task-form form .selectors > * {
  font-size: 1.6rem;
  padding: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.567);
  border-radius: 5px;
}
.task-modal .task-form form .selectors select {
  height: auto; /* Altura automática basada en el contenido */
  line-height: 1.5;
}
.task-modal .task-form form .form-btns {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  margin-top: 1rem;
}
.task-modal .task-form form .form-btns .cancel,
.task-modal .task-form form .form-btns #submit {
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  border: 1px solid rgba(128, 128, 128, 0.567);
  border-radius: 5px;
}
.task-modal .task-form form .form-btns #submit {
  background-color: gray;
  color: white;
}

.hidden {
  display: none;
}

.gu-mirror {
  display: none;
}

.gu-hide {
  display: none !important;
}

.gu-transit {
  opacity: 0.2;
}

/*# sourceMappingURL=style.css.map */
