.error__message {
    top: -4rem;
    left: -6rem;
    color: white;
    font-weight: 400;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 0.6rem 1.2rem;
    position: absolute;
    background-color: rgb(248, 83, 83);
    visibility: hidden;
    transition: left 0.5s;
    display: none;

    &-active {
        left: 2rem;
        visibility: visible;
    }
}

.fall {
    transform: translateX(10rem);
    opacity: 0;
}

.up {
    transform: translateY(-10rem);
    opacity: 0;
}
