.btn-main, .btn-main-s {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  background-color: #0075ff;
  color: white;
  border: solid 1px #0075ff;
}
.btn-main:hover, .btn-main-s:hover {
  background-color: white;
  color: #0075ff;
}
.btn-main-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.btn-sec, .btn-sec-s {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  color: black;
  background-color: transparent;
  border: none;
}
.btn-sec:hover, .btn-sec-s:hover {
  color: #888;
}
.btn-sec-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.main-menu {
  margin-bottom: 0;
}
.main-menu li {
  font-size: 0.75rem;
  list-style: none;
  display: inline;
  margin-right: 2rem;
}
.main-menu li a {
  color: black;
  text-decoration: none;
}
.main-menu li a:hover {
  text-decoration: underline;
}

.icon-sm {
  font-size: 1.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1764705882);
  padding: 0.4rem 0.65rem;
  border-radius: 100%;
}
.icon-sm i {
  color: #0075ff;
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.benefit .icon {
  color: #0075ff;
  font-size: 7.5rem;
}
.benefit .description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefit .description .title {
  font-size: 2rem;
  text-align: center;
}
.benefit .description .text {
  display: flex;
  color: #888;
  font-weight: 600;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  height: 100%;
}
.benefit .cta {
  color: #0075ff;
  font-weight: 600;
  text-align: center;
}

.icon-desk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-desk i {
  color: #0075ff;
  font-size: 7rem;
  padding: 0;
}
.icon-desk .title {
  font-size: 1.2rem;
  font-weight: 600;
}

body {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px #ddd;
}

.logo a img {
  max-width: 7rem;
}

.sec-home {
  width: 100%;
  margin: auto;
  max-width: 992px;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
.sec-home .cta.text {
  color: #0075ff;
}
.sec-home .home-title {
  width: 20rem;
  font-size: 3rem;
}
.sec-home .home-description {
  margin-top: 2rem;
  width: 300px;
}
.sec-home .lead-magnet .input-col {
  max-width: 200px;
}

.sec-features, .sec-onboarding, .sec-benefits {
  width: 100%;
  margin: auto;
  max-width: 992px;
  padding: 3rem;
}
.sec-features .intro, .sec-features .sec-onboarding, .sec-onboarding .intro, .sec-onboarding .sec-onboarding, .sec-features .sec-benefits, .sec-onboarding .sec-benefits, .sec-benefits .intro, .sec-benefits .sec-onboarding, .sec-benefits .sec-benefits {
  text-align: center;
}
.sec-features .intro h3, .sec-features .sec-onboarding h3, .sec-onboarding .intro h3, .sec-onboarding .sec-onboarding h3, .sec-features .sec-benefits h3, .sec-onboarding .sec-benefits h3, .sec-benefits .intro h3, .sec-benefits .sec-onboarding h3, .sec-benefits .sec-benefits h3 {
  font-size: 1.8rem;
}
.sec-features .intro p, .sec-features .sec-onboarding p, .sec-onboarding .intro p, .sec-onboarding .sec-onboarding p, .sec-features .sec-benefits p, .sec-onboarding .sec-benefits p, .sec-benefits .intro p, .sec-benefits .sec-onboarding p, .sec-benefits .sec-benefits p {
  font-size: 0.8rem;
  color: #888;
}
.sec-features .features, .sec-onboarding .features, .sec-benefits .features {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  gap: 2rem;
}
.sec-features .features .text, .sec-onboarding .features .text, .sec-benefits .features .text {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sec-features .features .text .feature, .sec-onboarding .features .text .feature, .sec-benefits .features .text .feature {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
}
.sec-features .features .text .feature .description, .sec-onboarding .features .text .feature .description, .sec-benefits .features .text .feature .description {
  margin-left: 1rem;
  max-width: 20rem;
}
.sec-features .features .text .feature .description .description-title, .sec-onboarding .features .text .feature .description .description-title, .sec-benefits .features .text .feature .description .description-title {
  font-size: 1.15rem;
}
.sec-features .features .text .feature .description .description-text, .sec-onboarding .features .text .feature .description .description-text, .sec-benefits .features .text .feature .description .description-text {
  font-size: 1rem;
}
.sec-features .features .image, .sec-onboarding .features .image, .sec-benefits .features .image {
  max-width: 20rem;
}

.sec-benefits {
  border-top: 1px solid #eee;
}
.sec-benefits .benefit-cards {
  width: 100%;
  gap: 1rem;
}

.sec-kpis {
  background-color: #0075ff;
  color: white;
  padding: 4rem;
  width: 100%;
}
.sec-kpis .kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-kpis .kpi .number {
  font-size: 3.5rem;
  font-weight: 600;
}
.sec-kpis .kpi .desc {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6666666667);
}

.sec-onboarding .steps {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-onboarding .steps .step-separator {
  flex: 1;
  border-top: 3px solid #ddd;
  margin: 0 1rem;
}

.sec-footer-cta {
  background-color: #f4f8fe;
  background-image: url(../assets/bg.png);
  background-position: 100%;
  background-repeat: no-repeat;
  padding: 5rem;
}
.sec-footer-cta .footer-cta {
  width: 50%;
}
.sec-footer-cta .footer-cta .cta-title {
  font-size: 2rem;
}
.sec-footer-cta .footer-cta .cta-description {
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .sec-kpis .kpi {
    margin-bottom: 2rem;
  }

  .sec-onboarding .steps {
    flex-direction: column;
  }
  .sec-onboarding .steps .step-separator {
    margin-top: 1rem;
    min-height: 3rem;
    border-left: 3px solid rgb(180, 176, 176);
  }

  .sec-footer-cta {
    background-image: none;
  }
  .sec-footer-cta .footer-cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sec-footer-cta .footer-cta .title {
    text-align: center;
  }
  .sec-footer-cta .footer-cta .cta-description {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}/*# sourceMappingURL=index.css.map */